@import "reset.css" screen;

body{
   font-family: 'Open Sans';
}

.head{
   height: 120px;
   border-bottom: 1px solid #d4d4d4;

   padding: 0 40px;
   font-weight: 300;
   color: #f47d1f;
   font-size: 26px;
}

.adaptive1024 .head, .adaptive980 .head{
   padding: 0 30px;
   font-size: 24px;
}

.adaptive980.adaptive720 .head{
   padding: 0 10px;
   font-size: 18px;
}

.head img{
   vertical-align: middle;
   margin-right: 17px;
   float: left;
   margin-top: 15px;
}



.head span{
   color: #eb0f19;
}

.head .title{
   line-height: 26px;
   float: left;
   margin-top: 56px;
}

.adaptive980 .title{
   width: 300px;
   margin-top: 40px;
}

.adaptive980.adaptive720 .title{
   width: 130px;
   margin-top: 18px;
   line-height: 22px;
}


.head .phone{
   margin-top: 56px;
   float: right;
   font-size: 33px;
   color: #5b5b5b;
}

.adaptive980 .head .phone{
   font-size: 31px;
}

.adaptive980.adaptive720 .head .phone{
   font-size: 28px;
}

.block1{
   background: #fafafc url('../img/bg.png') no-repeat scroll 50% 0;
   height: 541px;
}

.adaptive980 .block1 .w944{
   padding: 0 !important;
}

.adaptive720 .block1{
   padding-bottom: 30px;
}

.w944{
   max-width: 944px;
   width: 100%;
   margin: 0 auto;
   box-sizing: border-box;
}

.adaptive1024 .w944, .adaptive980 .w944{
   max-width: 100%;
   padding: 0 40px;
}

.adaptive980 .block1 .w944{
   width: 728px;
}

.adaptive980.adaptive720 .w944{
   max-width: 100%;
   padding: 0 10px;
}


.adaptive980.adaptive720 .block1 .w944 {
   width: 460px;
}


.doc{
   float: left;
   height: 541px;
   width: 324px;
}


.adaptive980 .doc{
   width: 216px;
}


.doc img{
   margin-top: 28px;
}

.adaptive720 .doc img{
   width: 194px;
}

.adaptive980.adaptive720 .doc{
   width: 0;
}

.form{
   float: left;
   width: 560px;
   padding-top: 44px;

   font-family: "Open Sans", sans-serif;
   line-height: 40px;
   color: #5b5b5b;
   font-weight: 300;
}

.adaptive980 .form{
   width: 460px;
   line-height: 33px;
}

.t1{
   font-size: 42px;
}

.t1 span{
   color: #eb0f19;
}

.t2{
   font-size: 30px;
}

.t3{
   color: #f47d1f;
   font-size: 30px;
}

.list{
   font-size: 15px;
   line-height: 24px;
   margin-top: 15px;
}

.adaptive980 .t1{
   padding-left: 70px;
   font-size: 31px;
}

.adaptive980 .t2{
   padding-left: 70px;
   font-size: 22px;
}

.adaptive980 .t3{
   padding-left: 70px;
   font-size: 22px;
}

.adaptive980 .list{
   padding-left: 70px;
   width: 245px;
}

.adaptive980.adaptive720 .t1{
   padding-left: 198px;
   font-size: 26px;
   line-height: 30px;
}

.adaptive980.adaptive720 .t2{
   padding-left: 198px;
   font-size: 20px;
   line-height: 22px;
}

.adaptive980.adaptive720 .t3{
   padding-left: 198px;
   font-size: 20px;
   line-height: 22px;
}

.adaptive980.adaptive720 .list{
   padding-left: 198px;
   width: auto;
   font-size: 14px;
   line-height: 18px;
}

.ff{
   background: url('../img/form.png') no-repeat;
   width: 460px;
   height: 200px;
   margin-top: 25px;
}

.title-form{
   color: #f47d1f;
   margin-left: 9px;
   font-weight: 700;
   font-size: 18px;
   line-height: 28px;
}

.style-input{
   margin-left: 9px;
   margin-right: 10px;
   border: 1px solid #5b5b5b;
   text-align: center;
   width: 213px;
   height: 38px;
   line-height: 38px;
   font-weight: 300;
   color: #cccccc;
   font-size: 16px;
   font-family: "Open Sans", sans-serif;
   margin-bottom: 10px;
   outline: none;
   
   -webkit-appearance: none;
   box-shadow: none;
   -webkit-box-shadow: none;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-appearance: none;
   
   box-sizing: border-box;
}

.style-input.with-val{
   color: #5b5b5b;
}

.style-input + .style-input{
   margin-left: 0;
}

.tab1{
   width: 100%;
   table-layout: fixed;
}

.tab1 td{
   padding-left: 9px;
   text-align: left;
   width: 50%;
   box-sizing: border-box;
}

.tab1 .style-input{
   margin-left: 0;
   margin-right: 0;
}

.tab1 td + td{
   padding-right: 12px;
   padding-left: 0;
   text-align: right;
}

.style-input.w100{
   width: 439px;
}

.button{
   background: url('../img/but.png') no-repeat;
   width: 443px;
   height: 63px;
   cursor: pointer;
   margin-left: 9px;
}

.percent{
   float: left;
   margin-left: 10px;
   width: 124px;
   text-align: center;
   line-height: 60px;
   color: #ffffff;
   font-size: 48px;
}

.bold-but{
   font-size: 18px;
   float: left;
   font-weight: 700;
   color: #ffffff;
   width: 293px;
   line-height: 21px;
   margin-top: 10px;
}

.button:hover{
   text-shadow: 0 0 5px rgba(255,255,255,0.5);
}

.blue-form{
   background: #e4f6fd;
   padding: 30px 0 0 0;

}

.stikers{
   text-align: center;
}

.stiker{

   border: 1px solid #d4d4d4;
   border-radius: 0 10px 0 10px;
   background: #ffffff;
   width: 300px;
   color: #5b5b5b;
   font-size: 12px;
   line-height: 14px;
   text-align: left;
   height: 173px;
   margin-bottom: 30px;
   padding: 5px 10px 7px;
   margin-right: 22px;
   box-sizing: border-box;
   display: inline-block;
}

.stiker span{
   font-weight: 300;
   line-height: 33px;
   font-size: 24px;
}

.stiker ul{
   color: #5b5b5b;
   list-style: disc;
   margin-left: 20px;
   line-height: 17px;
}

.stiker ul li{
   margin-top: 5px;
}

ul.small-pad{
   margin-top: 5px;
}

ul.small-pad li{
   margin-top: 0;
}

.stiker + .stiker + .stiker{
   margin-right: 0;
}

.orange-title{
   color: #f47d1f;
   font-size: 40px;
   font-weight: 300;
   line-height: 140px;
}

.blue-stiker{
   background: url('../img/blue.png');
   width: 300px;
   height: 360px;

   margin-bottom: 30px;
   padding: 5px 10px 7px;
   margin-right: 22px;
   box-sizing: border-box;
   position: relative;
   display: inline-block;
   text-align: left;
}

.blue-stikers + .orange-title{
   margin-top: -30px;
}

.blue-stiker + .blue-stiker + .blue-stiker{
   margin-right: 0;
}

.text-in-blue{
   color: #5b5b5b;
   font-weight: 300;
   width: 193px;
   right: 20px;
   position: absolute;
   top: 90px;
   font-size: 22px;
}

.blue-stiker img{
   position: absolute;
   left: 15px;
   top: 10px;
}

.blue-stikers{
   text-align: center;
}

.clear{
   clear: both;
}

.one-col{
   float: left;
   width: 50%;
   color: #5b5b5b;
   min-width: 330px;
   padding-bottom: 60px;
}

.adaptive720 .one-col{
   width: 100%;
}

.w300{
   width: 300px;
   margin: 0 auto;
}

.fio{
   font-size: 24px;
   font-weight: 300;
}

.dolg{
   font-size: 16px;
   margin-top: 5px;
}

.desc{
   font-size: 14px;
   margin-top: 8px;
}

.line{
   background: url('../img/line.png');
   width: 70px;
   height: 1px;
   margin: 20px 0 10px;
}

.double-col{

   border-bottom: 1px solid #d4d4d4;
}

.adaptive1024 .double-col, .adaptive980 .double-col{
   margin: 0 -40px;
}

.adaptive980.adaptive720 .double-col{
   margin: 0 -10px;
}

.feedback{
   padding: 60px 0 50px;
   color: #5b5b5b;
}

.name{
   margin: 0 120px 15px;
   font-size: 20px;
   line-height: 30px;
   font-weight: 300;

}

.adaptive720 .name{
   margin:  0 80px 15px;
}

.some-otz{
   margin: 0 120px;
   font-size: 18px;
   line-height: 24px;
   position: relative;
}

.so1{
   position: relative;
   display: none;
}

.so1.active{
   display: block;
}

.adaptive720 .some-otz{
   margin: 0 80px;
}

.some-otz:before{
   content: " ";
   background: url('../img/f-left.png') no-repeat;
   width: 55px;
   height: 60px;
   position: absolute;
   left: -80px;
   top: 0;
}

.some-otz:after{
   content: " ";
   background: url('../img/f-right.png') no-repeat;
   width: 53px;
   height: 59px;
   right: -80px;
   bottom: 0;
   position: absolute;
}

.map{
   background: #e4f6fd;

}

.map-block{
   height: 350px;
}

.contacts{
   text-align: center;
   padding-top: 25px;
   position: relative;
   padding-bottom: 30px;
}

.ph{
   font-size: 40px;
   font-weight: 300;
   color: #f47d1f;
   line-height: 50px;
}

.adr{
   line-height: 30px;
   font-size: 20px;
   color: #000000;
   margin-bottom: 20px;
   margin-top: 10px;
}

.adaptive720 .adr{
   font-size: 17px;
   width: 60%;
   margin-left: auto;
   margin-right: auto;
}

.mail{
   line-height: 30px;
   font-size: 20px;
   color: #f47d1f;
}

.mail a{
   color: #f47d1f;
   text-decoration: none;
}

.mail a:hover{
   color: #eb0f19;
}

.but-top{
   background: url('../img/but-top.png') no-repeat;
   width: 100px;
   height: 100px;
   position: absolute;
   bottom: 60px;
   right: 40px;
   cursor: pointer;
}

.adaptive720 .but-top{
   bottom: 10px;
   right: 10px;
}